.pokemon-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1e2144;
  border-radius: 12px 0 0 12px;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.pokemon-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 21px 8px 21px;
  box-sizing: border-box;
}

.sort-select {
  width: 186px;
  height: 32px;
  background-color: #3d4166;
  color: #bfc6f9;
  border-radius: 8px;
  border: 1px solid #333756;
  padding: 0 10px;
  font-size: 14px;
}

.grid-toggle-box {
  display: flex;
  width: 70px;
  height: 32px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #0c1231;
  border: none;
}

.grid-toggle-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #97a0cc;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: background-color 0.2s ease;
  position: relative;
}

.grid-toggle-button.active {
  background-color: #3d4466;
  border-radius: 0;
}

.grid-icon {
  display: grid;
  place-items: center;
  color: #bfc6f9;
  font-size: 14px;
}

.two-grid-icon {
  display: grid;
  grid-template-columns: repeat(2, 5px);
  gap: 2px;
}

.two-grid-icon div {
  width: 5px;
  height: 5px;
  background: #bfc6f9;
}

.pokemon-list-scrollable {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 16px;
  margin-top: -5px;
  scrollbar-width: none;
}

.pokemon-list-scrollable::-webkit-scrollbar {
  display: none;
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 24px;
}

.pokemon-list.two-grid-mode {
  display: grid;
  grid-template-columns: repeat(2, 128px);
  justify-content: center;
  gap: 16px;
  padding-top: 24px;
  margin-right: 14px;
}

.pokemon-list.one-grid {
  grid-template-columns: 1fr;
}

.pokemon-list.two-grid {
  grid-template-columns: repeat(2, 1fr);
}