.app {
  background-color: #2b2d42;
  min-height: 100vh;
  padding: 16px;
  font-family: DM Sans;
}

body {
  background-color: #2b2d42; 
  color: white; 
  margin: 0;
}

.pokemon-detail-card, .pokemon-list, .detail-header {
  background-color: #2b2d42; 
}

.main-content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}