.header {
  display: flex;
  justify-content: space-between;
  background-color: #2b2d42;
  border-bottom: 1px solid #3D4466;
}

.logo {
  width: 97px;
  height: 35px;
  margin-top: -15px; 
  object-fit: contain;
}

.search-area {
  position: relative;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-icon {
  cursor: pointer;
  transition: transform 0.2s ease;
  width: 20px;
  height: 19px;
}

.search-icon:hover {
  transform: scale(1.1);
}

.search-input {
  background-color: #ffffff;  
  border: 1px solid #3D4466;     
  padding: 6px 10px;
  border-radius: 8px;        
  font-size: 14px;
  width: 144px;               
  transition: all 0.3s ease;
  outline: none;
}

.search-input::placeholder {
  color: #888;               
}