.pokemon-card {
  background-color: #F0F3FF;
  color: white;
  border-radius: 16px;
  padding: 12px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.pokemon-card:hover {
  transform: scale(1.03);
}

/* One Grid */
.pokemon-card.one {
  width: 279px; 
  height: 240px;
}

.pokemon-card.one img {
  width: 178.107px; 
  height: 173px;
  top: 142px; 
  left: 71.45px; 
}

/* Two Grid */
.pokemon-card.two {
  width: 128px; 
  height: 180px;
}

.pokemon-card.two img {
  width: 90px; 
  height: 90px;
  top: 152px;
  left: 40px; 
}

.card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.type {
  color: #11B047;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

.id {
  font-size: 16px;
  color: #212E4C;
}

.card-name {
  margin-top: 8px;
  font-size: 18px;
  color: #212E4C;
  text-transform: capitalize;
  font-weight: bold;
}
