.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}

/* One Grid */
.pokemon-list.one {
  flex-direction: column;
  align-items: center;
}

/* Two Grid */
.pokemon-list.two {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
  justify-items: center; 
  max-width: 0px; 
  margin: 0 auto; 
}

.pokemon-list-container {
  position: relative; 
  width: 100%;
}

.pokemon-list-controls {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  right: 0; 
  top: 0px;
  width: auto; 
  padding: 0 20px; 
  z-index: 1000; 
}

.sort-select {
  width: 186px;
  height: 32px;
  background-color: #3d4166;
  color: #bfc6f9;
  border-radius: 8px;
  border: 1px solid #333756;
  font-size: 14px;
  margin-right: 10px; 
}

.grid-toggle-box {
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
}

.grid-toggle-button {
  flex: 0 0 auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #97a0cc;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: background-color 0.2s ease;
  width: 32px; 
  height: 32px; 
}

.grid-toggle-button.active {
  background-color: #3d4466;
  border-radius: 0;
}

.grid-icon {
  display: grid;
  place-items: center;
  color: #bfc6f9;
  font-size: 14px;
}

.two-grid-icon {
  display: grid;
  grid-template-columns: repeat(2, 5px);
  gap: 2px;
}

.two-grid-icon div {
  width: 5px;
  height: 5px;
  background: #bfc6f9;
}